# Dependencies
node_modules/
.pnpm-store/

# Build
.next/
.turbo/
out/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Types
*.tsbuildinfo
next-env.d.ts
